<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gc.system.mapper.GameMapper">

    <resultMap id="BaseResultMap" type="com.gc.system.domain.Game">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="FLOAT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="topicCount" column="topic_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,avatar,
        score,description,topic_count
    </sql>
</mapper>
