<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gc.system.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="com.gc.system.domain.Post">
            <result property="id" column="id" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="comments" column="comments" jdbcType="INTEGER"/>
            <result property="collects" column="collects" jdbcType="INTEGER"/>
            <result property="view" column="view" jdbcType="INTEGER"/>
            <result property="gameId" column="game_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        user_id,comments,collects,
        view,game_id,create_time,
        modify_time
    </sql>
</mapper>
